.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

.content {
    margin-top: 100px;
    margin-bottom: 100px;
}

/* Custom page footer */
.footer {
  line-height: 50px;
  color: #777;
  border-top: 1px solid #e5e5e5;
  margin-top: 10px;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
}

/***************************************************************/
/* Everything ^above^ is the default generated CSS from yeoman */
/* Below is more custom CSS for this app */
/***************************************************************/


.navbar a:link {
  color: #FFF;
  font-size: 1.5em;
}

.navbar a:visited {
  color: #FFF;
}

.navbar a:active {
  color: #FFF;
}

.navbar a:hover {
  color: #FFF;
}

.no-pointer-events {
  pointer-events: none;
}

#tabChoices {
  font-size: 20px;
  font-weight: bold;
}

#inputBorder {
  margin: 0 auto 4em auto;
  margin-top: 1%;
  padding: 2%;
  text-align: center;
  border: 1px solid gray;
  border-radius: 6px;
  background-color: #E1E8EB;
}

#inputArea {
  padding: 1vw;
  border-radius: 4px;
  text-align: left;
  border: solid gray thin;
  background-color: #FFF;
  font-size: 2vw;
  line-height: 3.5vw;
}

#inputArea .input-group {
  padding-top: 1%;
  padding-bottom: 1%;
}

#enterButton {
  padding-top: 2%;
}

#flashArea {
  padding-top: 2%;
}

#instructionsBorder {
  margin-bottom: 30px;
}

#graphArea {
  padding-top: 20px;
}

#xAxis {
  text-align: center;
}

#yAxis {
  position: relative;
  transform: translateX(30%) translateY(250%) rotate(-90deg);
}

/* hide the yAxis if the screen is under 500px wide */
@media screen and (max-width: 500px) {
  #yAxis {
    display: none;
  }
}

#formulaView {
  padding: .4em;
  width: auto;
  height: auto;
  border: 1px solid #777;
  margin-top: 3vw;
  margin-left: auto;
  margin-right: auto;
  font-size: 1em;
  text-align: center;
  letter-spacing: .1vw;
  border-radius: 8px;
}

#formulaView p {
    font-size: 1.2em;
}

#printButton {
    padding: 10px 0;
}

@media print {
  body * {
    visibility: hidden;
  }
  #inputBorder, #inputBorder * {
    visibility: visible;
  }
  #graphArea, #graphArea * {
    visibility: visible;
  }
  #formulaView, #formulaView * {
    visibility: visible;
  }
  #instructionsBorder, #instructionsBorder * {
    visibility: visible;
  }
  .footer, .footer * {
    visibility: visible;
  }
}