<div id="inputBorder" ng-controller="InputCtrl">

  <div id="inputArea">
    <div class="input-group">
      <span class="input-group-addon">Speech Level</span>
      <input ng-model="speechLevel.val" ng-readonly="speechLevel.isReadonly" type="text" class="form-control" size="3">
      <span class="input-group-addon">dBHL</span>
    </div>
    <div class="input-group">
      <span class="input-group-addon">Masker Level</span>
      <input ng-model="maskerLevel" type="text" class="form-control" readonly>
      <span class="input-group-addon">dBHL</span>
    </div>
    <div class="input-group">
      <span class="input-group-addon">Response:&nbsp;&nbsp;&nbsp;&nbsp;</span>
      <input id="nInput" ng-model="nElem" type="text" class="form-control" size="3" ng-keypress="keyPressed($event)">
      <span class="input-group-addon">of</span>
      <input ng-model="mElem" type="text" class="form-control" size="3" ng-keypress="keyPressed($event)">
      <span class="input-group-addon">correct</span>
    </div>
  </div>

  <div id="enterButton">
    <input type="button" class="btn-success" value="Enter" ng-click="runIteration()"></input>
  </div>

  <div id="flashArea">
    <div class="alert alert-danger" role="alert" ng-show="flasher.isVisible">
      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>&nbsp;
      <span ng-model="flasher.message">{{ flasher.message }}</span>
    </div>
  </div>

</div>