<div id="tabs">

  <div id="tabChoices">
    <ul class="nav nav-tabs nav-justified">
      <li ng-click="toggle('inputView')" class="ng-class: input.class">
        <a href="#/">Input</a>
      </li>
      <li ng-click="toggle('graphView')" class="ng-class: graph.class">
        <a href="#/">Graph</a></li>
      <li ng-click="toggle('instructionsView')" class="ng-class: instructions.class">
        <a href="#/">Instructions</a>
      </li>
    </ul>
  </div>

  <div id="tabViews">
    <div ng-include="'views/input.html'" ng-show="input.isVisible"></div>
    <div ng-include="'views/graph.html'" ng-show="graph.isVisible"></div>
    <div ng-include="'views/instructions.html'" ng-show="instructions.isVisible"></div>
  </div>

</div>
