<div id="tabs">

  <div id="tabChoices">
    <ul class="nav nav-tabs nav-justified">
      <li ng-click="tabs.toggle('inputView')" class="ng-class: tabs.input.class">
        <a href="#/">Input</a>
      </li>
      <li ng-click="tabs.toggle('graphView')" class="ng-class: tabs.graph.class">
        <a href="#/">Graph</a></li>
      <li ng-click="tabs.toggle('instructionsView')" class="ng-class: tabs.instructions.class">
        <a href="#/">Instructions</a>
      </li>
    </ul>
  </div>

  <div id="tabViews">
    <div ng-include="'views/input.html'" ng-show="tabs.input.isVisible"></div>
    <div ng-include="'views/graph.html'" ng-show="tabs.graph.isVisible"></div>
    <div ng-include="'views/instructions.html'" ng-show="tabs.instructions.isVisible"></div>
  </div>

</div>